PORT=3000
DATABASE_URL=postgresql://postgres:Sandesh9822@db.rjfwtecygkqmvobiuncp.supabase.co:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=https://rjfwtecygkqmvobiuncp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_e88Q8nSkLVvvb2p6x3z1RA_LBPGiSTk
